#loginWrapper
	#login
		form(action="/login", method="post")#loginForm
			table
				tr
					td
						label(for="username") username
					td
						input(name="username", type="text")#username
				tr
					td
						label(for="password") password
					td
						input(name="password", type="password")#password
				tr
					td
						input(type="submit")
					td
						a#register(href="#") register
