#loginWrapper
	#login
		form#loginForm
			table
				tr
					td
						label(for="username") username
					td
						input(type="text")#username
				tr
					td
						label(for="password") password
					td
						input(type="password")#password
				tr
					td
						input(type="submit")
					td
						a#register(href="#") register
