body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
}
#header #settings {
  float: right;
  width: 40px;
  height: 100%;
  background: url("/images/icons/settings.png") no-repeat center;
  background-size: 70%;
}
#content {
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 40px;
}
#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #000;
}
#chatWrapper {
  position: relative;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 100%;
  display: inline-block;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#chatHeader {
  position: absolute;
  top: 0px;
  border-bottom: 1px solid #000;
  width: 400px;
  height: 5em;
  text-align: center;
}
#chatHeader img {
  padding: 20px 10px;
}
#chatPanel {
  position: absolute;
  top: 5em;
  bottom: 30px;
  width: 400px;
  overflow-y: scroll;
}
#chatInput {
  border: 0px;
  border-top: 1px solid #000;
  position: absolute;
  bottom: 0px;
  width: 400px;
  height: 30px;
}
.chatMessage {
  padding: 5px;
}
.chatMessage img {
  vertical-align: -32%;
  padding-right: 5px;
}
#loginWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #808080;
  opacity: 0.9;
}
#loginWrapper #login {
  background: #fff;
  border: 1px solid #000;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}
#loginWrapper #login table {
  padding: 20px 10px;
}
#loginWrapper #login table td {
  padding: 5px;
}
#loginWrapper #login table input {
  width: 100px;
}
#loginWrapper #login table #register {
  float: right;
}
#loginWrapper input[type="submit"] {
  visibility: hidden;
}
#registerWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #808080;
  opacity: 0.9;
}
#registerWrapper #register {
  background: #fff;
  border: 1px solid #000;
  width: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}
#registerWrapper #register table {
  padding: 20px 10px;
}
#registerWrapper #register table td {
  padding: 5px;
}
#registerWrapper #register table input {
  width: 100px;
}
#registerWrapper #register table #register {
  float: right;
}
#registerWrapper input[type="submit"] {
  visibility: hidden;
}
