#registerWrapper
	#register
		form#registerForm
			table
				tr
					td
						label(for="email") email
					td
						input(type="text")#email
				tr
					td
						label(for="username") username
					td
						input(type="text")#username
				tr
					td
						label(for="password") password
					td
						input(type="password")#password
			input(type="submit")
